.App {
  width: 100%;
  min-height: 100vh;
  color: #eceff4;
  background-color: #2e3440;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.App-title {
  text-align: center;
  font-weight: normal;
  font-size: 1.5rem;
  margin-top: 0;
}

@media (min-width: 500px) {
  .App-title {
    font-size: 2rem;
  }
}
