.Calculator {
  margin: 0 1rem;
  padding: 1rem;
  background-color: #434c5e;
  text-align: center;
  font-size: 1rem;
  border-radius: 0.5rem;
}

.Calculator-form {
  display: flex;
  flex-direction: column;
}

.Calculator-selector-label {
  display: block;
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.Calculator-selector-input {
  display: inline-block;
  font: inherit;
  padding: 0.5rem;
  width: 100%;
  border-radius: 0.5rem;
  border: solid 2px #eceff4;
  background-color: #eceff4;
  transition: box-shadow 0.25s ease;
  text-align: center;
}

.Calculator-submit {
  display: inline-block;
  padding: 0.5rem;
  margin: 0.5rem auto;
  background-color: transparent;
  color: #e5e9f0;
  border: solid 2px #e5e9f0;
  border-radius: 0.5rem;
  font: inherit;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.25s ease, color 0.25s ease,
    box-shadow 0.25s ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.Calculator-submit:hover,
.Calculator-submit:focus,
.Calculator-submit:active {
  background-color: #e5e9f0;
  color: #434c5e;
}

.Calculator-submit:focus,
.Calculator-selector-input:focus {
  outline: 0;
  box-shadow: 0 0 0 3px #88c0d0;
}

.Calculator-value {
  background-color: #3e4350;
  margin: 2rem 0 0;
  padding: 1rem;
  font-size: 3rem;
  border-radius: 0.5rem;
}

@media (min-width: 600px) {
  .Calculator {
    margin: 0 2rem;
    font-size: 1.5rem;
  }
}

@media (min-width: 800px) {
  .Calculator {
    margin: 0 12%;
    padding: 2rem;
    font-size: 2rem;
  }

  .Calculator-form {
    flex-direction: row;
  }

  .Calculator-selector {
    width: calc(100% - 4.5rem);
    margin-right: 0.5rem;
  }

  .Calculator-submit {
    margin: 0;
    width: 4rem;
  }

  .Calculator-submit > span {
    display: none;
  }
}
